<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../style/style.css" rel="stylesheet">
        <title>Grubunu Bul</title>
    </head>
    <body class="uyelik-kayit-body">
       <div class="uyelik-kayit-container">
        <img src="#">
        <form class="uyelik-kayit-box" method="post">
            <input placeholder="E-posta adresinizi giriniz..." type="text" name="email" class="uyelik-kayit-input"/>
            <button type="submit" class="Button">Eposta Gönder</button>
        </form>
      </div>
    </body>
</html>