<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../style/style.css" rel="stylesheet">
        <title>Grubunu Bul</title>
    </head>
    <body class="uyelik-kayit-body">
       <div class="uyelik-kayit-container">
        <img src="#">
        <form class="uyelik-kayit-box" method="post">
            <input placeholder="E-mail Adresiniz" type="email" name="email" class="uyelik-kayit-input"/>
            <input type="text" placeholder="Şifreniz" name="password" class="uyelik-kayit-input">
            <button type="submit" class="Button">Giriş Yap</button>
            <p>Hesabın yok mu? <a href="http://localhost:3000/uyekayit">Üye ol</a></p>
            <a href="http://localhost:3000/forgot-password">Şifremi Unuttum</a>
        </form>
      </div>
    </body>
</html>