<nav class="anasayfa-navbar">
    <a href="#">Grubunubul.com</a>
    <div class="navbar-right">
        <a>Admin İşlemleri</a>
        <a href="http://localhost:3000/ilanver">İlan ver</a>
        <a href="http://localhost:3000/ilanlarim">İlanlarım</a>
        <a href="http://localhost:3000/hesabim">Hesabım</a>
        <a>Üyeleri Düzenle</a>
        <a href="http://localhost:3000/logout">Oturumu Kapat</a>
    </div>
</nav>