<nav class="anasayfa-navbar">
    <a href="#">Grubunubul.com</a>
    <div class="navbar-right">
      <a href="http://localhost:3000/uyekayit">Üye Ol</a>
      <a href="http://localhost:3000/uyegiris">Giriş Yap</a>
    </div>
</nav>