<nav class="anasayfa-navbar">
    <a href="#">Grubunubul.com</a>
    <div class="navbar-right">
        <p>Hoşgeldiniz</p>
        <a href="http://localhost:3000/ilanver">İlan Ver</a>
        <a href="http://localhost:3000/ilanlarim">İlanlarım</a>
        <a>Üye Bilgileri</a>
        <a>İlan Düzenle</a>
        <a>Oturumu Kapat</a>
        <a href="http://localhost:3000/hesabim">Hesabım</a>
    </div>
</nav>