<nav class="anasayfa-navbar">
    <a href="#">Grubunubul.com</a>
    <div class="navbar-right">
        <p>Hoşgeldiniz</p>
        <a href="http://localhost:3000/hesabim">Hesabım</a>
        <a href="http://localhost:3000/ilanver">Grup İlanı Ver</a>
        <a href="http://localhost:3000/ilanlarim">İlanlarım</a>
        <a>Grup Bul</a>
        <a href="http://localhost:3000/logout">Oturumu Kapat</a>
    </div>
</nav>